body {
    font-family: 'Montserrat', sans-serif;
    background-color: #222831;
    margin: 0;
    height: 100vh;
}

header {
    background-color: #909095;
    height: 70px;
    z-index: 999999;
}

h1 {
    position: relative;
    max-width: 980px;
    color: #e9e7e9;
    margin: 0 12%;
    vertical-align: middle;
    line-height: 70px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
    height: 255px;
}

.add__goal{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 235px;
    background-color: #222831;
    padding: 10px;
    color: #e9e7e9;
    margin: 10px;
}

.add__goal label {
    width: 50%;
}

.add__goal input {
    width: 100%;
    background-color: rgb(27, 17, 17);
    color: #e9e7e9;
    border: 0;
    border-radius: 5px;
    padding: 8px;
    margin: 3px;
}

.add__goal a{
    padding: 8px 20%;
    background-color: #ac4661;
    text-decoration: none;
    border-radius: 8px;
    color: #e9e7e9;
    margin-top: 10px;
}

.add__goal a:hover{
    background-color: #d8345f;
    color: #e9e7e9;
}

.all__goals {
    display: flex;
    width: 60%;
    padding: 10px;
    background-color: #222831;
    color: #e9e7e9;
    height: 235px;
    flex-direction: column;
    margin: 10px;
}

.goal {
    font-size: 10px;
    padding: 5px;
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: #909095;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.goal:hover {
    background: #ac4661;
    color: #e9e7e9;
}

.goal p {
    display: inline;
    padding: 0 5px;
}

.goal h3 {
    margin: 3px 5px 5px 5px;
}

.delete-button {
    width: 22px;
    height: 22px;

    border: 1px solid #C4C4C4;
    background-color: #222831;
    box-sizing: border-box;
    border-radius: 71px;

    color: #C4C4C4;
    font-size: 12.5px;
    text-indent: -1.5px;

}

.delete-button:hover {
    background: #ac4661;
    color: #e9e7e9;
    border: 1px solid #e9e7e9;
}

.show-results {
    margin: 10px 0;
}

.show-results p {
    font-size: 16px;
}

.goal-description p{
    font-size: 13px;
}

.error__list {
    color: #ac4661;
}

.error__list li {
    margin-top: 5px;
}

.delete__button {
    cursor: pointer;
}