body {
    font-family: 'Montserrat', sans-serif;
    background-color: #333333;
    margin: 0px;
}

header {
    background-color: darkgrey;
    height: 70px;
}

h1 {
    position: relative;
    max-width: 980px;
    color: #ffffff;
    margin: 0 auto;
    vertical-align: middle;
    line-height: 70px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
    height: 255px;
}

.add__target{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: #333333;
    padding: 10px;
    color: #ffffff;
}

.add__target div{
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding-bottom: 15px;
}

.add__target label {
    width: 50%;
}

.add__target input {
    width: 50%;
    background-color: #333333;
    color: #ffffff;
    border: 0px;
}

.add__target a{
    padding: 5px 50px;
    background-color: #e1f4f3;
    text-decoration: none;
    border-radius: 8px;
    color: #000000;
}

.add__target a:hover{
    background-color: #706c61;
    color: #ffffff;
}

.all__targets {
    display: flex;
    width: 50%;
    padding: 10px;
    background-color: #333333;
    color: #ffffff;
    height: 235px;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
}

.target {
    height: 50px;
    font-size: 10px;
}

.target p {
    display: inline;
    margin: 0 5px;
}